.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}

.backButton {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.page {
  width: 100%;
}

.page > img, .page > div {
  display: block;
  width: 100%;
  height: calc(100vh - 4px);
  object-fit: contain;
  object-position: center;
}

.addPageButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.thumbnail {
  height: 20vw;
  width: 20vw;
  overflow: hidden;
}

.thumbnail > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.thumbnail > button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
